/* LE TRAIT VERT */
.bar-bg { background: #e0e0e0; height: 12px; border-radius: 6px; margin: 10px 0; overflow: hidden; border: 1px solid #ccc; }
.bar-fill { background: #2e7d32; height: 100%; transition: 0.5s; width: 0%; } /* C'est ça qui fait le trait vert */

.pro-card { background: white; border-radius: 15px; padding: 20px; border: 2px solid #1b5e20; box-shadow: 0 4px 10px rgba(0,0,0,0.1); }
.id-tag { font-size: 0.7rem; background: #333; color: white; padding: 2px 5px; border-radius: 4px; float: right; }
.gps-btn { width: 100%; background: #e8f0fe; color: #1a73e8; border: none; padding: 8px; border-radius: 5px; margin-bottom: 10px; font-weight: bold; cursor: pointer; }

.btns-fin { display: flex; gap: 5px; margin-bottom: 10px; }
.btns-fin button { flex: 1; padding: 10px; border: none; border-radius: 5px; color: white; font-weight: bold; cursor: pointer; }
.b-airtel { background: #ed1c24; }
.b-moov { background: #0054a6; }
.b-vendre { width: 100%; background: #558b2f; color: white; border: none; padding: 12px; border-radius: 5px; cursor: pointer; font-weight: bold; }

.m-item { background: white; padding: 15px; margin-bottom: 10px; border-radius: 10px; border-left: 5px solid #2e7d32; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }